<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bling Scope Example</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/blingScope.js" charset="utf-8"></script>
  </head>
  <body ng-app='myApp'>
    <h1>Bling Scope Example</h1>
    <div ng-controller='TestController as tc' ng-init='tc.checkLogin()'>
      <input type='text' ng-model='tc.nameIn' />
      <button ng-click='tc.setLocalStorage()'>set</button>
      <button ng-click='tc.showLocalStorage()'>show</button>
      <button ng-click='tc.login()'>Log In</button>
    </div>
  </body>
</html>
